{% extends "layout.html" %}

{% block title %}
    Add cash
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <h1>Get More Cash</h1>
        <div>
            Current balance: {{ cash }}
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="cash" placeholder="Add cash" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
